@import "_variable";

.lantern /*container*/ {
  height: 40rem;
  position: relative;
}
.lantern-picture {
  height: 40rem;
  clip-path: circle();
  transition: all 0.3s;
}

.lantern-header {
  font-size: 3rem;
  opacity: 0%;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50% -50%);

  transition: all 0.3s;
  text-transform: uppercase;
}

.lantern:hover .lantern-picture {
  filter: contrast(50%) blur(3px);
}
.lantern:hover .lantern-header {
  opacity: 1;
  top: 38%;
}
