@import "_variable";

.text-effect {
  background-image: url("./media/SpiritedAway.jpg");
  background-position: center;
  color: transparent;
  font-size: 8rem;
  -webkit-background-clip: text;
  transition: all 0.3s;
}

.text-effect:hover {
  transform: skewY(-10deg);
  letter-spacing: 1.5rem;
}
