@import "_variable";
@import "_btn";
@import "_Gray-Cat";
@import "_text-effect";
@import "_cat-group";
@import "_lantern";

.container {
  width: 80vw;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
}
